html {
  background-color: #d6fc52;
  font-family: "Manrope", sans-serif;
  font-family: "Roboto", sans-serif;
}
.wrapper {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.nav {
  padding: 22px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.nav-item {
  margin-right: 44px;
}
.nav-link {
  text-decoration: none;
  color: #000;
}
.nav-button {
  padding: 1px 18px;
  border-radius: 10px;
  background: #000;
  width: 92px;
  height: 22px;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}
.header-title {
  padding-top: 93px;
  margin-bottom: 62px;
  color: #000;
  text-align: center;
  font-size: 107px;
  font-weight: 400;
  line-height: 110px;
  letter-spacing: 7px;
}
.header-description {
  margin-bottom: 45px;
  color: #000;
  text-align: center;
  font-size: 42px;
  font-weight: 400;
  line-height: 48px; /* 114.286% */
  letter-spacing: 1.5px;
}
.header-button {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 761px;
  height: 88px;
  border-radius: 15px;
  background: #000;
  box-shadow: 0px 208px 58px 0px rgba(0, 0, 0, 0.01);
  color: #d6fc52;
  font-size: 41px;
  font-weight: 400;
  letter-spacing: 0.8px;
}
.header-trial {
  padding-bottom: 934px;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #000;
  font-size: 20px;
  font-weight: 400;
}
.section-wrapper {
  padding: 0 229px;
}
.section-title {
  color: #000;
  text-align: center;
  font-size: 107px;
  font-weight: 400;
  line-height: 110px;
  letter-spacing: 7px;
}
.section-descr {
  color: #000;
  text-align: center;
  font-size: 42px;
  font-weight: 400;
  line-height: 48px; /* 114.286% */
  letter-spacing: 1.5px;
}
.section-image {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}
.section-button {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  border-radius: 15px;
  width: 761px;
  height: 88px;
  box-shadow: 0 208px 58px 0 rgba(0, 0, 0, 0.01);
  background: #000;
  font-size: 41px;
  line-height: 141%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #d6fc52;
}
.section-span {
  display: block;
  margin: 0 auto;
  margin-bottom: 79px;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: #000;
}
.offer {
  padding: 22px 101px 22px 615px;
  margin-bottom: 74px;
  background-color: #000;
}
.offer-title {
  font-family: Permanent Marker;
  color: rgb(214, 252, 82);
  font-size: 62px;
  font-weight: 400;
  line-height: 161.2px;
  letter-spacing: 0%;
  text-align: right;
  text-transform: uppercase;
}
.more-descr {
  font-size: 37px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #000;
}
.more-link {
  display: block;
  margin: 0 auto;
  margin-bottom: 55px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 38px;
  line-height: 48px;
  letter-spacing: 1.5px;
}
.footer__nav {
  display: flex;
}
.footer__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.footer__list-item {
  margin-right: 40px;
}
.footer__list-item:first-child {
  margin-right: 60px;
}
.footer__list-link {
  text-decoration: none;
  color: black;
}
.footer__line {
  margin: 48px 0 27px 0;
  padding: 0 30px;
}

